body{
    font-size: 24px;
    }

/*---------------------------Index page----------------------------*/

.left-div{
    float:left;
    width:30%;
    background-image: url("http://www.yorkwall.com/WebsiteContent/img/products/collections/YWD044/Products/PA5665icon.jpg");
    text-align: center;
    margin-top: 10px;
    height: 2000px;
    border-radius: 20px;
    }
ol li{
    list-style: none;
    padding:10px;
}
.left-div img{
    width: 40%;
    height: 5%;
    }

.welcome{
    background-image: url("https://res.cloudinary.com/dxscgl3u6/image/upload/v1600366797/IMG-20191023-WA0025_tgjgvh.jpg");
    width: 750px;
    height: 500px;
    padding: 50px;
    margin: 10px;
    float: left;
    border-radius: 20px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ---------------------About me page-------------------*/

h3{
    color:rgb(207, 129, 65);
}
.aboutme {
    background-image: url("http://www.yorkwall.com/WebsiteContent/img/products/collections/YWD044/Products/PA5665icon.jpg");
    width: 750px;
    padding: 50px;
    margin: 20px;
    float: left;
    border-radius: 20px;
}
.aboutimage img{
    width: 400px;
    margin: 5px;
    float: left;
    margin-left: 40px;
    border-radius: 20px;
}
.aboutmedetails{
    font-size: 18px;
    font-style: italic;
    word-spacing: 5px;
    line-height: 20px;
    float: right;
    width: 450px;
    }
    ul li{
    list-style: none;

}

/* ---------------------Projects section-------------------*/

.project {
    background-image: url("http://www.yorkwall.com/WebsiteContent/img/products/collections/YWD044/Products/PA5665icon.jpg");
    width: 750px;
    padding: 50px;
    margin: 20px;
    float: left;
    border-radius: 20px;
}
.projectimage img{
    width: 400px;
    margin: 5px;
    float: left;
    margin-left: 40px;
    border-radius: 20px;
}